# Eclipse files
.classpath
.project
.settings/
.metadata/

# Compiled class files
*.class

# Package files
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar

# Logs
*.log

# Virtual machine crash logs
hs_err_pid*
replay_pid*
